@import url("https://use.typekit.net/xhp6szu.css");
/* css reset for eRetailers */
#es-rc #es-rc-content *,
#es-rc #es-rc-content *:before,
#es-rc #es-rc-content *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#es-rc #es-rc-content h1,
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5,
#es-rc #es-rc-content h6,
#es-rc #es-rc-content p {
  line-height: normal;
  letter-spacing: normal;
  font-size: 100%;
  margin: 0;
}

#es-rc #es-rc-content table,
#es-rc #es-rc-content thead,
#es-rc #es-rc-content tbody,
#es-rc #es-rc-content tr,
#es-rc #es-rc-content th,
#es-rc #es-rc-content td {
  border: none;
  outline: none;
  background: transparent;
}

#es-rc #es-rc-content img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
}

#es-rc #es-rc-content ul li {
  list-style: none;
}

#es-rc #es-rc-content ol li {
  list-style: none;
}

#es-rc #es-rc-content sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

/* variables */
/* fonts */
/* animations */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 0s both;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/* main styles */
#es-rc #es-rc-content {
  max-width: 769px;
  margin: auto;
  background-color: #ffd416;
  color: #023b76;
  font-family: "myriad-pro", sans-serif;
  /* responsive, scrollable table */
  /* other cross sell styles */
  /* Firefox */
  /* Chrome, Edge and Safari */
}
#es-rc #es-rc-content .es-kv {
  background: url(../images/kv-bg.png) no-repeat;
  background-size: 215%;
  background-position: right 20% top 0%;
}
@media (min-width: 500px) {
  #es-rc #es-rc-content .es-kv {
    background-size: 148%;
  }
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv {
    background-size: 77%;
    background-position: right top;
    height: 460px;
  }
  #es-rc #es-rc-content .es-kv .es-kv__desktop-wrapper {
    display: flex;
  }
}
#es-rc #es-rc-content .es-kv__logo {
  width: 33%;
  max-width: 120px;
  margin: auto;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__logo {
    max-width: 150px;
  }
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__packshot {
    width: 45%;
  }
}
#es-rc #es-rc-content .es-kv__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__wrapper {
    margin-top: 36px;
    margin-left: -103px;
    align-items: flex-start;
  }
}
#es-rc #es-rc-content .es-kv__title-wrapper {
  font-family: "urw-din", sans-serif;
  text-align: center;
  font-style: italic;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__title-wrapper {
    text-align: left;
    margin-bottom: 1rem;
  }
}
#es-rc #es-rc-content .es-kv__title {
  font-size: 3rem;
}
#es-rc #es-rc-content .es-kv__subtitle {
  font-size: 1.5rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__subtitle {
    margin-left: 1.5rem;
  }
}
#es-rc #es-rc-content .es-kv__flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__flex-container {
    gap: 0.5rem;
    padding: 0;
  }
}
#es-rc #es-rc-content .es-kv__single {
  display: grid;
  grid-template-columns: 66px 1fr;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__single {
    width: 100%;
    height: 54px;
  }
}
#es-rc #es-rc-content .es-kv__icon {
  justify-self: center;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-kv__icon {
    scale: 0.6;
  }
}
#es-rc #es-rc-content .es-kv__text {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(1.2rem, 0.9783rem + 1.0435vw, 1.5rem);
}
#es-rc #es-rc-content .es-kv__text--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-about {
    flex-direction: row;
  }
}
#es-rc #es-rc-content .es-about__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-about__single {
    flex-basis: 33%;
  }
}
#es-rc #es-rc-content .es-about__icon {
  max-width: 84px;
}
#es-rc #es-rc-content .es-about__text {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
}
#es-rc #es-rc-content .es-features {
  overflow: hidden;
}
#es-rc #es-rc-content .es-features__title-wrapper {
  background-image: url("/5909990170210/images/features-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 67%;
  min-height: 400px;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__title-wrapper {
    background-position: center;
  }
}
#es-rc #es-rc-content .es-features__title {
  color: #FFF;
  font-family: "urw-din", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  padding: 2rem;
  padding-top: 4rem;
  text-transform: uppercase;
  max-width: 85%;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__title {
    max-width: 69%;
    font-size: 2.1rem;
    padding-top: 5rem;
  }
}
#es-rc #es-rc-content .es-features__packshot-container {
  padding: 2rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__packshot-container {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: auto;
  }
}
#es-rc #es-rc-content .es-features__single {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3rem;
  border-bottom: 2px solid #dc2536;
  max-width: 80%;
  padding-block: 1rem;
  margin: auto;
}
#es-rc #es-rc-content .es-features__single--bold {
  font-weight: 700;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__single {
    max-width: 100%;
    margin-right: -30px;
    padding-top: 3.8rem;
    padding-bottom: 1.2rem;
  }
}
#es-rc #es-rc-content .es-features__packshot {
  max-width: 90%;
  margin-left: auto;
  margin-right: -46px;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__packshot {
    max-width: 55%;
    margin-right: -94px;
    margin-top: 73px;
  }
}
#es-rc #es-rc-content .es-features__icons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}
#es-rc #es-rc-content .es-features__icon-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__icon-single {
    gap: 3rem;
    max-width: 80%;
    margin: auto;
    flex-direction: row;
  }
}
#es-rc #es-rc-content .es-features__icon {
  max-width: 64px;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__icon {
    max-width: 96px;
  }
}
#es-rc #es-rc-content .es-features__text {
  font-size: 1.3rem;
  text-align: center;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-features__text {
    text-align: left;
  }
}
#es-rc #es-rc-content .es-video {
  padding: 1rem;
  position: relative;
  z-index: 1;
}
#es-rc #es-rc-content .es-video:after {
  content: "";
  width: 87%;
  height: 50px;
  display: block;
  background-color: #44c0eb;
  transform: translate(9%, -72%) rotate(1deg);
  box-shadow: 8px 8px 24px -5px rgb(0, 0, 0);
  z-index: 0;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-video {
    padding: 2rem;
  }
}
#es-rc #es-rc-content .es-video__wrapper {
  box-shadow: 8px 8px 24px -5px rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#es-rc #es-rc-content .es-video__iframe {
  width: 100%;
  aspect-ratio: 16/9;
  z-index: 2;
  overflow: hidden;
}
#es-rc #es-rc-content .es-cross {
  background-color: #1f357d;
  margin-top: -163px;
  color: #FFF;
  padding-inline: 1rem;
  padding-top: calc(57px + 3rem);
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-cross {
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }
}
#es-rc #es-rc-content .es-cross__title {
  font-family: "urw-din", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2rem;
}
#es-rc #es-rc-content .es-cross__table {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  display: grid;
}
#es-rc #es-rc-content .es-cross__table-body {
  display: contents;
}
#es-rc #es-rc-content .es-cross__table-row {
  display: grid;
  grid-template-columns: 115px repeat(2, 175px);
  gap: 10px;
}
@media (min-width: 555px) {
  #es-rc #es-rc-content .es-cross__table-row {
    grid-template-columns: repeat(3, 1fr);
  }
}
#es-rc #es-rc-content .es-cross__table-cell {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 555px) {
  #es-rc #es-rc-content .es-cross__table-cell {
    padding: 1rem;
  }
}
#es-rc #es-rc-content .es-cross__fixed {
  position: sticky;
  background-color: #1f357d;
  left: 0;
  z-index: 1;
}
#es-rc #es-rc-content .es-cross__table-row:not(:nth-of-type(1), :nth-last-of-type(1)) {
  border-bottom: 1px solid #FFF;
}
#es-rc #es-rc-content .es-cross__table-header {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #3c4f8e;
}
#es-rc #es-rc-content .es-cross__product {
  align-items: flex-end;
  background-size: 92% 72%;
  background-position: -1px -4px;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%, #1498e9 0%, rgba(7, 58, 255, 0) 100%);
}
#es-rc #es-rc-content .es-cross__link {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-decoration: none;
  color: #FFF;
}
#es-rc #es-rc-content .es-cross__img {
  scale: 1;
  transition: all 0.2ms ease-in-out;
  max-width: 95%;
}
#es-rc #es-rc-content .es-cross__img:hover {
  transform: scale(1.01);
}
#es-rc #es-rc-content .es-cross__tag {
  border-radius: 99px;
  padding: 0.2rem 0.4rem;
}
#es-rc #es-rc-content .es-cross__name {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
}
#es-rc #es-rc-content .es-cross__table button {
  border-radius: 99px;
  border: none;
}
#es-rc #es-rc-content .es-cross__button {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #ffd416;
  padding: 0.4rem 0.8rem;
  font-size: 1.1rem;
  color: #023b76;
  transition: all 0.2s ease-in-out;
}
#es-rc #es-rc-content .es-cross__button:hover {
  background-color: #c9a711;
}
#es-rc #es-rc-content .es-cross__table-cell--main {
  background-color: #3c4f8e;
}
#es-rc #es-rc-content .es-cross__icon {
  max-width: 38px;
  max-height: 42px;
}
#es-rc #es-rc-content .es-cross__text--bold {
  display: block;
}
#es-rc #es-rc-content .es-cross__info {
  display: block;
  margin-block: 10px;
}
#es-rc #es-rc-content .es-cross__info--exclamation {
  position: relative;
}
#es-rc #es-rc-content .es-cross__info--exclamation:after {
  content: "!";
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: -5px 1px 0px rgb(255, 255, 255);
  position: absolute;
  font-size: 130px;
  color: #ffd416;
  bottom: -19%;
  left: -12%;
  animation: pulsate-bck 1s ease-in-out infinite alternate both;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-cross__info--exclamation:after {
    bottom: -20%;
    left: -9%;
  }
}
#es-rc #es-rc-content .es-cross__purple {
  background-color: #944293;
  position: relative;
}
#es-rc #es-rc-content .es-cross__blue {
  background-color: #0074be;
}
#es-rc #es-rc-content .es-references {
  background-color: #1f357d;
  color: #FFF;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 695px) {
  #es-rc #es-rc-content .es-references {
    padding: 2rem;
  }
}
#es-rc #es-rc-content .es-references .es-list ol {
  list-style: none;
  counter-reset: es-counter;
}
#es-rc #es-rc-content .es-references .es-list ol li {
  counter-increment: es-counter;
  font-size: 0.8rem;
}
#es-rc #es-rc-content .es-references .es-list ol li::before {
  content: counter(es-counter);
  vertical-align: top;
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}
#es-rc #es-rc-content .es-references__MAT {
  font-size: 1rem;
}
#es-rc #es-rc-content .es-references__text {
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}
#es-rc #es-rc-content .es-references__text--bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-references__warning {
  font-size: 2rem;
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  text-justify: inter-word;
}
#es-rc #es-rc-content * {
  scrollbar-width: thin;
  scrollbar-color: #ffd416 #3c4f8e;
}
#es-rc #es-rc-content *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
#es-rc #es-rc-content *::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #3c4f8e;
}
#es-rc #es-rc-content *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FFD416;
}
#es-rc #es-rc-content *::-webkit-scrollbar-thumb:hover {
  background-color: #E4BE14;
}
#es-rc #es-rc-content *::-webkit-scrollbar-thumb:active {
  background-color: #E4BE14;
}/*# sourceMappingURL=styles.css.map */