@import url("https://use.typekit.net/xhp6szu.css");

/* css reset for eRetailers */
#es-rc #es-rc-content *,
#es-rc #es-rc-content *:before,
#es-rc #es-rc-content *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#es-rc #es-rc-content h1,
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5,
#es-rc #es-rc-content h6,
#es-rc #es-rc-content p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 100%;
    margin: 0;

}

#es-rc #es-rc-content table,
#es-rc #es-rc-content thead,
#es-rc #es-rc-content tbody,
#es-rc #es-rc-content tr,
#es-rc #es-rc-content th,
#es-rc #es-rc-content td {
    border: none;
    outline: none;
    background: transparent;
}

#es-rc #es-rc-content img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

#es-rc #es-rc-content ul li {
    list-style: none;
}

#es-rc #es-rc-content ol li {
    list-style: arabic;
}

/* variables */
$yellow--main: #ffd416;
$blue--accent: #44c0eb;
$blue--main: #023b76;
$red: #dc2536;
$purple: #944293;
$blue: #0074be;

$ff--main: "myriad-pro", sans-serif;
$ff--accent: "urw-din", sans-serif;
$fw--regular: 400;
$fw--bold: 700;
$fs--normal: normal;
$fs--italic: italic;

/* fonts */
@mixin font($family, $weight, $style) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}

/* main styles */

#es-rc #es-rc-content {
    max-width: 769px;
    margin: auto;
    background-color: $yellow--main;
    color: $blue--main;
    font-family: $ff--main;
    .es-kv {
        background: url(../images/kv-bg.png) no-repeat;
        background-size: 215%;
        background-position: right 20% top 0%;
        @media (min-width: 768px) {
            background-size: 77%;
            background-position: right top;
            height: 500px;
            .es-kv__desktop-wrapper {
                display: flex;
            }
        }

        &__logo {
            width: 33%;
            max-width: 120px;
            margin: auto;
            @media (min-width: 768px) {
                max-width: 150px;
            }
        }
        &__packshot {
            @media (min-width: 768px) {
                width: 45%;
            }
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -50px;
            @media (min-width: 768px) {
                margin-top: 36px;
                margin-left: -103px;
                align-items: flex-start;
            }
        }

        &__title-wrapper {
            font-family: $ff--accent;
            text-align: center;
            font-style: italic;
            @media (min-width: 768px) {
                text-align: left;
                margin-bottom: 1rem;
            }
        }

        &__title {
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 1.5rem;
            @media (min-width: 768px) {
                margin-left: 1.5rem;
            }
        }

        &__flex-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 2rem;
            @media (min-width: 768px) {
                gap: 0.5rem;
                padding: 0;
            }
        }

        &__single {
            display: grid;
            grid-template-columns: 66px 1fr;
            align-items: center;
            gap: 1rem;
            @media (min-width: 768px) {
                width: 100%;
                height: 54px;
            }
        }
        &__icon {
            justify-self: center;
            @media (min-width: 768px) {
                scale: 0.6;
            }
        }

        &__text {
            @include font($ff--main, $fw--regular, $fs--italic);
            font-size: clamp(1.2rem, 0.9783rem + 1.0435vw, 1.5rem);

            &--bold {
                font-weight: $fw--bold;
            }
        }

    }
    .es-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            @media (min-width: 768px) {
                flex-basis: 33%;
            }
        }
        &__icon {
            max-width: 84px;
        }
        &__text {
            @include font($ff--main, $fw--regular, $fs--normal);
            font-size: 1.3rem;
            text-align: center;
        }
    }
    .es-features {
        overflow: hidden;
        &__title-wrapper {
            background-image: url(/assets/images/features-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 67%;
            min-height: 400px;
            
            @media (min-width: 768px) {
                background-position: center;
            }
        }
        &__title {
            color: #FFF;
            @include font($ff--accent, $fw--bold, $fs--italic);
            font-size: 1.5rem;
            padding: 2rem;
            padding-top: 4rem;
            text-transform: uppercase;
            max-width: 85%;
            @media (min-width: 768px) {
                max-width: 69%;
                font-size: 2.3rem;
                padding-top: 5rem;
            }
        }
        
        &__packshot-container {
            padding: 2rem;
        }
        &__single {
            @include font($ff--main, $fw--regular, $fs--italic);
            border-bottom: 2px solid $red;
            max-width: 80%;
            padding-block: 1rem;
            margin: auto;
            &--bold {
                font-weight: $fw--bold;
            }
        }
        &__packshot {
            max-width: 90%;
            margin-left: auto;
            margin-right: -46px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 2rem;
        }
        &__icon-single {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
        &__icon {
            max-width: 64px;
        }
    }
}