@import url("https://use.typekit.net/xhp6szu.css");

/* css reset for eRetailers */
#es-rc #es-rc-content *,
#es-rc #es-rc-content *:before,
#es-rc #es-rc-content *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#es-rc #es-rc-content h1,
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5,
#es-rc #es-rc-content h6,
#es-rc #es-rc-content p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 100%;
    margin: 0;

}

#es-rc #es-rc-content table,
#es-rc #es-rc-content thead,
#es-rc #es-rc-content tbody,
#es-rc #es-rc-content tr,
#es-rc #es-rc-content th,
#es-rc #es-rc-content td {
    border: none;
    outline: none;
    background: transparent;
}

#es-rc #es-rc-content img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

#es-rc #es-rc-content ul li {
    list-style: none;
}

#es-rc #es-rc-content ol li {
    list-style: none;
}

#es-rc #es-rc-content sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

/* variables */
$yellow--main: #ffd416;
$blue--accent: #44c0eb;
$blue--main: #023b76;
$blue--background: #1f357d;
$blue--table-bg: #3c4f8e;
$red: #dc2536;
$purple: #944293;
$blue: #0074be;

$ff--main: "myriad-pro", sans-serif;
$ff--accent: "urw-din", sans-serif;
$fw--regular: 400;
$fw--bold: 700;
$fs--normal: normal;
$fs--italic: italic;
$size--normal: clamp(1.2rem, 0.9783rem + 1.0435vw, 1.5rem);

/* fonts */
@mixin font($family, $weight, $style) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}

/* animations */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
}

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* main styles */

#es-rc #es-rc-content {
    max-width: 769px;
    margin: auto;
    background-color: $yellow--main;
    color: $blue--main;
    font-family: $ff--main;

    .es-kv {
        background: url(../images/kv-bg.png) no-repeat;
        background-size: 215%;
        background-position: right 20% top 0%;

        @media (min-width: 768px) {
            background-size: 77%;
            background-position: right top;
            height: 460px;

            .es-kv__desktop-wrapper {
                display: flex;
            }
        }

        &__logo {
            width: 33%;
            max-width: 120px;
            margin: auto;

            @media (min-width: 768px) {
                max-width: 150px;
            }
        }

        &__packshot {
            @media (min-width: 768px) {
                width: 45%;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -50px;

            @media (min-width: 768px) {
                margin-top: 36px;
                margin-left: -103px;
                align-items: flex-start;
            }
        }

        &__title-wrapper {
            font-family: $ff--accent;
            text-align: center;
            font-style: italic;

            @media (min-width: 768px) {
                text-align: left;
                margin-bottom: 1rem;
            }
        }

        &__title {
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 1.5rem;

            @media (min-width: 768px) {
                margin-left: 1.5rem;
            }
        }

        &__flex-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 2rem;

            @media (min-width: 768px) {
                gap: 0.5rem;
                padding: 0;
            }
        }

        &__single {
            display: grid;
            grid-template-columns: 66px 1fr;
            align-items: center;
            gap: 1rem;

            @media (min-width: 768px) {
                width: 100%;
                height: 54px;
            }
        }

        &__icon {
            justify-self: center;

            @media (min-width: 768px) {
                scale: 0.6;
            }
        }

        &__text {
            @include font($ff--main, $fw--regular, $fs--italic);
            font-size: $size--normal;

            &--bold {
                font-weight: $fw--bold;
            }
        }

    }

    .es-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 2rem;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            @media (min-width: 768px) {
                flex-basis: 33%;
            }
        }

        &__icon {
            max-width: 84px;
        }

        &__text {
            @include font($ff--main, $fw--regular, $fs--normal);
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .es-features {
        overflow: hidden;

        &__title-wrapper {
            background-image: url(/assets/images/features-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 67%;
            min-height: 400px;

            @media (min-width: 768px) {
                background-position: center;
            }
        }

        &__title {
            color: #FFF;
            @include font($ff--accent, $fw--bold, $fs--italic);
            font-size: 1.5rem;
            padding: 2rem;
            padding-top: 4rem;
            text-transform: uppercase;
            max-width: 85%;

            @media (min-width: 768px) {
                max-width: 69%;
                font-size: 2.3rem;
                padding-top: 5rem;
            }
        }

        &__packshot-container {
            padding: 2rem;

            @media (min-width: 768px) {
                display: flex;
                align-items: center;
                max-width: 90%;
                margin: auto;
            }
        }

        &__single {
            @include font($ff--main, $fw--regular, $fs--italic);
            font-size: 1.3rem;
            border-bottom: 2px solid $red;
            max-width: 80%;
            padding-block: 1rem;
            margin: auto;

            &--bold {
                font-weight: $fw--bold;
            }

            @media (min-width: 768px) {
                max-width: 100%;
                margin-right: -30px;
                padding-top: 3.8rem;
                padding-bottom: 1.2rem;
            }
        }

        &__packshot {
            max-width: 90%;
            margin-left: auto;
            margin-right: -46px;

            @media (min-width: 768px) {
                max-width: 55%;
                margin-right: -94px;
            }
        }

        &__icons {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 2rem;
        }

        &__icon-single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            @media (min-width: 768px) {
                gap: 3rem;
                max-width: 80%;
                margin: auto;
                flex-direction: row;
            }
        }

        &__icon {
            max-width: 64px;

            @media (min-width: 768px) {
                max-width: 96px;
            }
        }

        &__text {
            font-size: 1.3rem;
        }
    }

    .es-video {
        padding: 1rem;
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            width: 87%;
            height: 50px;
            display: block;
            //position: absolute;
            background-color: $blue--accent;

            transform: translate(9%, -72%) rotate(1deg);
            -webkit-box-shadow: 8px 8px 24px -5px rgba(0, 0, 0, 1);
            -moz-box-shadow: 8px 8px 24px -5px rgba(0, 0, 0, 1);
            box-shadow: 8px 8px 24px -5px rgba(0, 0, 0, 1);
            z-index: 0;
        }

        @media (min-width: 768px) {
            padding: 2rem;
        }

        &__wrapper {
            -webkit-box-shadow: 8px 8px 24px -5px rgba(0, 0, 0, 1);
            -moz-box-shadow: 8px 8px 24px -5px rgba(0, 0, 0, 1);
            box-shadow: 8px 8px 24px -5px rgba(0, 0, 0, 1);
            position: relative;
            z-index: 1;
            overflow: hidden;
        }

        &__iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            z-index: 2;
            overflow: hidden;
        }
    }

    .es-cross {
        background-color: $blue--background;
        margin-top: -163px;
        color: #FFF;
        padding-inline: 1rem;
        padding-top: calc(57px + 3rem);
        padding-bottom: 1rem;
        text-align: center;
        position: relative;

        @media (min-width: 768px) {
            padding-inline: 2rem;
            padding-bottom: 2rem;
        }


        &__title {
            @include font($ff--accent, $fw--bold, $fs--italic);
            font-size: 1.5rem;
            text-transform: uppercase;
            margin: 2rem;
        }
    }

    /* responsive, scrollable table */
    .es-cross__table {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        display: grid;

    }

    .es-cross__table-body {
        display: contents;

    }

    .es-cross__table-row {
        display: grid;
        grid-template-columns: 115px repeat(2, 175px);
        gap: 10px;

        @media (min-width: 555px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }


    .es-cross__table-cell {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @media (min-width: 555px) {
            padding: 1rem;
        }
    }

    .es-cross__fixed {
        position: sticky;
        background-color: $blue--background;
        left: 0;
        z-index: 1;
    }

    /* other cross sell styles */
    .es-cross__table-row:not(:nth-of-type(1), :nth-last-of-type(1)) {
        border-bottom: 1px solid #FFF;
    }

    .es-cross__table-header {
        @include font($ff--main, $fw--bold, $fs--normal);
        background-color: $blue--table-bg;
    }

    .es-cross__product {
        align-items: flex-end;
        background-size: 92% 72%;
        background-position: -1px -4px;
        background-repeat: no-repeat;
        background-image: radial-gradient(50% 50% at 50% 50%, #1498e9 0%, #073AFF00 100%);
    }
    .es-cross__link {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        text-decoration: none;
        color: #FFF;
    }

    .es-cross__img {
        scale: 1.0;
        transition: all 0.2ms ease-in-out;
        max-width: 95%;

        &:hover {
            transform: scale(1.01);
        }
    }

    .es-cross__tag {
        border-radius: 99px;
        padding: 0.2rem 0.4rem;

    }

    .es-cross__name {
        @include font($ff--main, $fw--bold, $fs--normal);
        font-size: 1.3rem;
    }

    .es-cross__table button {
        border-radius: 99px;
        border: none;
    }

    .es-cross__button {
        @include font($ff--main, $fw--bold, $fs--normal);
        background-color: $yellow--main;
        padding: 0.4rem 0.8rem;
        font-size: 1.1rem;
        color: $blue--main;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #c9a711;
        }
    }

    .es-cross__table-cell--main {
        background-color: $blue--table-bg;

    }

    .es-cross__icon {
        max-width: 38px;
        max-height: 42px;
    }

    .es-cross__text--bold {
        display: block;
    }

    .es-cross__info {
        display: block;
        margin-block: 10px;

        &--exclamation {
            position: relative;

            &:after {
                content: "!";
                @include font($ff--main, $fw--bold, $fs--normal);
                text-shadow: -5px 1px 0px rgba(255, 255, 255, 1);
                position: absolute;
                font-size: 130px;
                color: $yellow--main;
                bottom: -19%;
                left: -12%;
                -webkit-animation: pulsate-bck 1s ease-in-out infinite alternate both;
                animation: pulsate-bck 1s ease-in-out infinite alternate both;

                @media (min-width: 768px) {
                    bottom: -23%;
                    left: -9%;
                }
            }
        }

    }


    .es-cross__purple {
        background-color: $purple;
        position: relative;

    }

    .es-cross__blue {
        background-color: $blue;
    }

    .es-references {
        background-color: $blue--background;
        color: #FFF;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: 768px) {
            padding: 2rem;
        }

        .es-list ol {
            list-style: none;
            counter-reset: es-counter;
        }

        .es-list ol li {
            counter-increment: es-counter;
            font-size: 0.8rem;
        }

        .es-list ol li::before {
            content: counter(es-counter);
            vertical-align: top;
            position: relative;
            top: -0.5em;
            font-size: 0.8em;
        }

        &__MAT {
            font-size: 1rem;
        }

        &__text {
            font-size: 0.8rem;
            text-align: justify;
            text-justify: inter-word;

            &--bold {
                font-weight: $fw--bold;
            }
        }

        &__warning {
            font-size: 2rem;
            @include font($ff--main, $fw--regular, $fs--normal);
            text-align: justify;
            text-justify: inter-word;
        }
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: $yellow--main $blue--table-bg;
    }

    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
        height: 10px;
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: $blue--table-bg;
    }


    *::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #FFD416;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #E4BE14;
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: #E4BE14;
    }
}